<h3>Vehicles</h3>

<%= link_to "Add new Vehicle", new_vehicle_path %>
<table class="table table-hover users">
	<% @vehicles.each_with_index do |vehicle, i| %>
		<tr>
			<td width="20px"><%= i+1 %>.)</td>
			<td><%= link_to vehicle.full_description, vehicle_path(vehicle.id)  %></td>
		</tr>
	<%end%>
</table>

<!--
<ul class="users">
  <% @vehicles.each_with_index do |vehicle, i| %>
    <li>
	  <%= i+1 %>.)
	  <%= link_to vehicle.full_description, vehicle_path(vehicle.id)  %>
	  <%=  %>
	<%end%>
  
</ul>
-->
<p></p>
