<% provide(:title, 'Add a vehicle') %>
<h1>Add a new vehicle</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@vehicle) do |f| %>
	
	  <%= render 'shared/error_messages', :object => @vehicle %>

      <%= f.label "Make" %>
      <%= f.text_field :make %>
	  
	  <%= f.label "Model" %>
      <%= f.text_field :model %>

      <%= f.label :Year %>
      <%= f.text_field :year %>

      <%= f.label "License Plate Number" %>
      <%= f.text_field :license %>

      <%= f.label "Depreciation Rate" %>
      <%= f.text_field :depreciation_rate %>
	  
	  <%= f.hidden_field :user_id, {:value => current_user.id}%>
	  
	  <p></p>
      <%= f.submit "Save New Vehicle", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>