<!-- This is the entire home landing page for the site -->

<% provide(:title, "") %>
<div class="row">
  <div class="span8 offset3">
<!--
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
-->
	
  </div>
    <div class="row" style="padding:10px; margin-left:20px;">
        <button class="btn btn-success btn-large btn-hover">
         <%= link_to "Child Signin", child_signin_path, id: "navItem" %>
            <!-- child_signin_last_names_path -->

        </button>
    </div>
    <div class="clear"></div>
  <div id='calendar'></div>
	<p> This is a test </p>

</div>
