<h1>Listing calenders</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
	<p><%= @cal.events.first.id %></p>
	<p><%= @cal.events.first.title %></p>
	<p><%= @cal.events.first.where %></p>
	<%= @cal.events %>
	
  </tbody>
</table>

<br>

<%= link_to 'New Calender', new_calender_path %>


