<div class="row">
  <aside class="span6">
	<h3>Account Details: <%= @child.full_name %></h3>
	
	<%= form_for(@child) do |f| %>
	  <%= render 'shared/error_messages', :object => @child %>
		<small>Please fill all required fields with a </small><span class="required">*</span>
		<section id="child_Info"><!-- BEGIN Child Info -->
	      <fieldset style="float:left;">
			<p><b>Child's Information</b><p>
			<section style="float:left;">
      			<%= f.label "First Name" %>
      			<span class="required">*</span>
				<%= f.text_field :fname, placeholder: "First Name" %>
			</section>
			<section class="pull-left" style="margin-left:5px;">
	  			<%= f.label "Last Name" %>
				<span class="required">*</span>
      			<%= f.text_field :lname, placeholder: "Last Name"%>
			</section>
			<section class="pull-left" style="margin-left:5px;">
	  			<%= f.label "Rate" %>
				<span class="required">*</span>
      			<%= f.text_field :rate_id, placeholder: "Rate"%>
			</section>
			<p>Parents </p>
			<section class="pull-left" style="margin-left:5px;">
					<%= f.fields_for :parents do |builder| %>
						<fieldset>
							<%= builder.label :fname, "First Name NESTED " %><br/>
							<%= builder.text_field :fname %>
							<%= builder.label :lname, "Last Name NESTED " %><br/>
							<%= builder.text_field :lname %>
						</fieldset>
					<% end %>
			</section>
			
	      </fieldset>
		</section> <!-- END Child Info -->
		
		<section class="pull-right span3 " style="margin-left:0px;">
			<p><%= f.submit "Save Changes", class: "btn btn-large btn-primary" %></p>	  
			<%= link_to "Cancel", child_path(@child.id), class: "btn btn-large btn-primary" %>
		</section>
	<% end %>
</div>