<div class="center-element span8">
<% provide(:title, 'Add Child') %>

	<h1>Add New Child</h1>
    <%= form_for(@child) do |f| %>
	  <%= render 'shared/error_messages', :object => @child %>
		<small>Please fill all required fields with a </small><span class="required">*</span>
		
		<!-- BEGIN PARENT ONE -->
		
		<section>
	      <fieldset style="float:left;">
			<p><b>Child's Information</b><p>
			<section style="float:left;">				
      			<%= f.label "First Name" %>
      			<span class="required">*</span>
				<%= f.text_field :fname, placeholder: "First Name" %>
			</section>
			<section style="float:left; margin-left:5px;">
	  			<%= f.label "Last Name" %>
				<span class="required">*</span>
      			<%= f.text_field :lname, placeholder: "Last Name"%>
			</section>
			<section style="float:left; margin-left:5px;">
	  			<%= f.label "Rate" %>
				<span class="required">*</span>
      			<%= f.text_field :lname, placeholder: "Last Name"%>
			</section>
	      </fieldset>
	    </section>
		
		<section>
	      <fieldset style="float:left;">
			<section style="float:left;">
				<p><b>Parent 1's Information</b><p>
				<%= check_box_tag "p1_new" %>
				<%= autocomplete_field_tag 'parent_one_id', '', autocomplete_user_lname_users_path, :placeholder => "Start typing a last name" %>	
		
			<fieldset style="float:left;">
				<section style="float:left;">
					<%= label_tag "First Name" %>
					<span class="required">*</span>
					<%= text_field_tag "p1_fname", nil, placeholder: "First Name" %>
				</section>
				<section style="float:left; margin-left:5px;">
					<%= label_tag "Last Name" %>
					<span class="required">*</span>
					<%= text_field_tag "p1_lname", nil, placeholder: "Last Name"%>
				</section>
			</fieldset>
			<fieldset>
				<section style="float:left;">
					<div class="form-group has-success"; >
						<%= label_tag "Email" %>
						<span class="required">*</span>
						<%= text_field_tag "p1_email", nil, placeholder: "Email"%>
						<div id="emailWarning" class="warning"></div>
					</div>
				</section>
			</fieldset>
				
			<fieldset>
				<section style="float:left;">
					<%= label_tag  "Address" %>
					<span class="required">*</span>
					<%= text_field_tag "p1_street_addr", nil, placeholder: "Address" %>
				</section>
				<section style="float:left;">
					<div class="pull-left" style="margin-left:8px;">
						<%= label_tag  "City" %>
						<%= text_field_tag "p1_city", nil, placeholder: "city" %>
					</div> 			
					<div class="pull-left" style="margin-left: 12px">
						<%= label_tag  "Zip" %>	
						<%= text_field_tag "p1_zip", nil, placeholder: "Zip" %>
					</div>
					<div class="pull-left" style="margin-left: 5px">
						<%= label_tag  "State" %>	
						<%= text_field_tag "p1_state", nil, placeholder: "State" %>
					</div>
				</section>
			</fieldset>
			<fieldset>
				<section style="pull-left">
					<section>
						<%= label_tag "Home Number" %>
						<span class="required">*</span>
						<%= text_field_tag "p1_phone_home", nil, placeholder: "Home Phone" %>
					</section>
					<section style="float: left;"> 	  
						<%= label_tag "Cell Number" %>
						<span class="required">*</span>
						<%= text_field_tag "p1_phone_cell", nil, placeholder: "Cell Phone" %>
					</section>
					<section style="float: left; margin-left:12px;">      
						<%= label_tag "Work Number" %>
						<%= text_field_tag "p1_phone_work", nil, placeholder: "Work Phone" %>
					</section>
				</section>
			</fieldset>
		</section>
		
		<!-- END PARENT ONE -->
		
		
		<!-- BEGIN PARENT TWO -->
		
		<!--
		<section>
	      <fieldset>
			<section style="float:left;">
				<p><b>Parent 2's Information</b><p>
				<%= check_box_tag "p1_new" %>
				<%= autocomplete_field_tag 'parent_one_id', '', autocomplete_user_lname_users_path, :placeholder => "Start typing a last name" %>	
		
			<fieldset style="float:left;">
				<section style="float:left;">
					<%= label_tag "First Name" %>
					<span class="required">*</span>
					<%= text_field_tag "p1_fname", nil, placeholder: "First Name" %>
				</section>
				<section style="float:left; margin-left:5px;">
					<%= label_tag "Last Name" %>
					<span class="required">*</span>
					<%= text_field_tag "p1_lname", nil, placeholder: "Last Name"%>
				</section>
			</fieldset>
			<fieldset>
				<section style="float:left;">
					<div class="form-group has-success"; >
						<%= label_tag "Email" %>
						<span class="required">*</span>
						<%= text_field_tag "p1_email", nil, placeholder: "Email"%>
						<div id="emailWarning" class="warning"></div>
					</div>
				</section>
			</fieldset>
				
			<fieldset>
				<section style="float:left;">
					<%= label_tag  "Address" %>
					<span class="required">*</span>
					<%= text_field_tag "p1_street_addr", nil, placeholder: "Address" %>
				</section>
				<section style="float:left;">
					<div class="pull-left" style="margin-left:8px;">
						<%= label_tag  "City" %>
						<%= text_field_tag "p1_city", nil, placeholder: "city" %>
					</div> 			
					<div class="pull-left" style="margin-left: 12px">
						<%= label_tag  "Zip" %>	
						<%= text_field_tag "p1_zip", nil, placeholder: "Zip" %>
					</div>
					<div class="pull-left" style="margin-left: 5px">
						<%= label_tag  "State" %>	
						<%= text_field_tag "p1_state", nil, placeholder: "State" %>
					</div>
				</section>
			</fieldset>
			<fieldset>
				<section style="pull-left">
					<section>
						<%= label_tag "Home Number" %>
						<span class="required">*</span>
						<%= text_field_tag "p1_phone_home", nil, placeholder: "Home Phone" %>
					</section>
					<section style="float: left;"> 	  
						<%= label_tag "Cell Number" %>
						<span class="required">*</span>
						<%= text_field_tag "p1_phone_cell", nil, placeholder: "Cell Phone" %>
					</section>
					<section style="float: left; margin-left:12px;">      
						<%= label_tag "Work Number" %>
						<%= text_field_tag "p1_phone_work", nil, placeholder: "Work Phone" %>
					</section>
				</section>
			</fieldset>
		</section>
		-->
		
		<!-- END PARENT TWO -->
		
		
	    <section>
          <%= f.submit "Save child", class: "btn btn-large btn-primary" %>
	      <%= link_to "Cancel", children_path, class: "btn btn-large btn-primary" %>
	    </section>
	<% end %>
  </div>
<div class="row"></div>

