<div class="row">
<div class="span8" style="margin:0 auto; margin-left:20%; ">
<% provide(:title, 'Add Child') %>

	<h1>Add New Child</h1>
    <%= form_for(@child) do |f| %>
	  <%= render 'shared/error_messages', :object => @child %>
		<small>Please fill all required fields with a </small><span class="required">*</span>
		<section id="child_Info"><!-- BEGIN Child Info -->
	      <fieldset style="float:left;">
			<p><b>Child's Information</b><p>
			<section style="float:left;">
      			<%= f.label "First Name" %>
      			<span class="required">*</span>
				<%= f.text_field :fname, placeholder: "First Name" %>
			</section>
			<section class="pull-left" style="margin-left:5px;">
	  			<%= f.label "Last Name" %>
				<span class="required">*</span>
      			<%= f.text_field :lname, placeholder: "Last Name"%>
			</section>
			<section class="pull-left" style="margin-left:5px;">
	  			<%= f.label "Rate" %>
				<span class="required">*</span>
      			<%= autocomplete_field_tag 'rate_autocomplete', '', autocomplete_rate_name_rates_path, :placeholder => "Start typing a rate's name", :id_element => '#rate_id' %>
				<%= f.hidden_field :rate_id, :id => "rate_id" %>
			</section>
			<section>
				<%= link_to_add_fields f, :parents %>
			</section>	
	      </fieldset>
		  
		  <fieldset>
			<section class="pull-left" >
				<p><b>Parent 1's Information</b><p>
				<%= autocomplete_field_tag 'parent_one_auto', '', autocomplete_parent_lname_parents_path, :placeholder => "Start typing a last name", :id_element => '#parent_one_id' %>
				<%= hidden_field_tag :parent_one_id, :id => "parent_one_id" %>
			</section>

			<section class="pull-left" id="par2" style="margin-left:10px">
				<p><b>Parent 2's Information</b><p>
				<%= autocomplete_field_tag 'parent_two_auto', '', autocomplete_parent_lname_parents_path, :placeholder => "Start typing a last name", :id_element => '#parent_two_id' %>
				<%= hidden_field_tag :parent_two_id, :id => "parent_two_id" %>
			</section><!-- END #par2 -->
			
			<section class="pull-right" >
				<!--<%= label_tag "Add a Parent" %>-->
				<span style="font-weight:bold" >Add a Parent</span>
				<%= check_box_tag "p1_new" %>
			</section>

	      </fieldset>
		</section><!-- END Child Info -->

		<section id="parent_one" style="display:none"><!--BEGIN Parent_one -->
	      <fieldset style="float:left;">
			<section style="float:left;">
			<fieldset style="float:left;">
				<section style="float:left;">					
					<%= label_tag "First Name" %>
					<span class="required">*</span>
					<%= text_field_tag "p1_fname", nil, placeholder: "First Name" %>
				</section>
				<section style="float:left; margin-left:5px;">
					<%= label_tag "Last Name" %>
					<span class="required">*</span>
					<%= text_field_tag "p1_lname", nil, placeholder: "Last Name"%>
				</section>
			</fieldset>
			<fieldset>
				<section style="float:left;">
					<div class="form-group has-success"; >
						<%= label_tag "Email" %>
						<span class="required">*</span>
						<%= text_field_tag "p1_email", nil, placeholder: "Email"%>
						<div id="emailWarning" class="warning"></div>
					</div>
				</section>
			</fieldset>
				
			<fieldset>
				<section style="float:left;">
					<%= label_tag  "Address" %>
					<span class="required">*</span>
					<%= text_field_tag "p1_street_addr", nil, placeholder: "Address" %>
				</section>
				<section style="float:left;">
					<div class="pull-left" style="margin-left:8px;">
						<%= label_tag  "City" %>
						<%= text_field_tag "p1_city", nil, placeholder: "City" %>
					</div> 			
					<div class="pull-left" style="margin-left: 12px">
						<%= label_tag  "Zip" %>	
						<%= text_field_tag "p1_zip", nil, placeholder: "Zip" %>
					</div>
					<div class="pull-left" style="margin-left: 5px">
						<%= label_tag  "State" %>	
						<%= text_field_tag "p1_state", nil, placeholder: "State" %>
					</div>
				</section>
			</fieldset>
			<fieldset>
				<section style="pull-left">
					<section>
						<%= label_tag "Home Number" %>
						<span class="required">*</span>
						<%= text_field_tag "p1_phone_home", nil, placeholder: "Home Phone" %>
					</section>
					<section style="float: left;"> 	  
						<%= label_tag "Cell Number" %>
						<span class="required">*</span>
						<%= text_field_tag "p1_phone_cell", nil, placeholder: "Cell Phone" %>
					</section>
					<section style="float: left; margin-left:12px;">      
						<%= label_tag "Work Number" %>
						<%= text_field_tag "p1_phone_work", nil, placeholder: "Work Phone" %>
					</section>
				</section>
			</fieldset>	

<hr />
			<section id="Parent2" class="pull-right"><!-- Parent2 -->
				<b>Add Second Parent</b>
				<%= check_box_tag "p2_new" %>
			</section><!-- End Parent2-->

		</section> <!-- End Parent One -->
	</fieldset>
</section>

		<section id="parent_two" style="display:none"><!-- BEGIN PARENT TWO -->
	      <fieldset>
			<section style="float:left;">
			<fieldset style="float:left;">
				<section style="float:left;">
					<%= label_tag "First Name" %>
					<span class="required">*</span>
					<%= text_field_tag "p2_fname", nil, placeholder: "First Name" %>
				</section>
				<section style="float:left; margin-left:5px;">
					<%= label_tag "Last Name" %>
					<span class="required">*</span>
					<%= text_field_tag "p2_lname", nil, placeholder: "Last Name"%>
				</section>
			</fieldset>
			<fieldset>
				<section style="float:left;">
					<div class="form-group has-success"; >
						<%= label_tag "Email" %>
						<span class="required">*</span>
						<%= text_field_tag "p2_email", nil, placeholder: "Email"%>
						<div id="emailWarning" class="warning"></div>
					</div>
				</section>
			</fieldset>
				
			<fieldset>
				<section style="float:left;">
					<%= label_tag  "Address" %>
					<span class="required">*</span>
					<%= text_field_tag "p2_street_addr", nil, placeholder: "Address" %>
				</section>
				<section style="float:left;">
					<div class="pull-left" style="margin-left:8px;">
						<%= label_tag  "City" %>
						<%= text_field_tag "p2_city", nil, placeholder: "City" %>
					</div> 			
					<div class="pull-left" style="margin-left: 12px">
						<%= label_tag  "Zip" %>	
						<%= text_field_tag "p2_zip", nil, placeholder: "Zip" %>
					</div>
					<div class="pull-left" style="margin-left: 5px">
						<%= label_tag  "State" %>	
						<%= text_field_tag "p2_state", nil, placeholder: "State" %>
					</div>
				</section>
			</fieldset>
			<fieldset>
				<section style="pull-left">
					<section>
						<%= label_tag "Home Number" %>
						<span class="required">*</span>
						<%= text_field_tag "p2_phone_home", nil, placeholder: "Home Phone" %>
					</section>
					<section style="float: left;"> 	  
						<%= label_tag "Cell Number" %>
						<span class="required">*</span>
						<%= text_field_tag "p2_phone_cell", nil, placeholder: "Cell Phone" %>
					</section>
					<section style="float: left; margin-left:12px;">      
						<%= label_tag "Work Number" %>
						<%= text_field_tag "p2_phone_work", nil, placeholder: "Work Phone" %>
					</section>
				</section>
			</fieldset>
		</fieldset>
		</section><!-- END PARENT TWO -->
	    <section id="submision">
			<br />
          <%= f.submit "Save child", class: "btn btn-large btn-primary" %>
	      <%= link_to "Cancel", children_path, class: "btn btn-large btn-primary" %>
	    </section><!-- #submission -->
	<% end %>
  </div>
</div>
<div class="row"></div>

<script type="text/javascript">
$("#p1_new").click(function() {
	if($('#p1_new').is(":checked")){   
		$( "#parent_one" ).show( "slow" );
		$("#parent_one_id").hide("fast");
		$("#par2").hide("fast");
		
		if($('#p2_new').is(":checked")){
			$("#parent_two").show("fast");
		}
	}else{
		$( "#parent_one" ).hide( 400 );
		$("#parent_two").hide(400);
		$("#parent_one_id").show(200);
		$("#par2").show(200);
	}	  
});
$("#p2_new").click(function(){
	if($('#p2_new').is(":checked")){
		$( "#parent_two").show("fast");
	}else{
		$( "#parent_two").hide(400);
	}
});
</script>
