<div class="center-element span8">
<% provide(:title, 'Add Child') %>

	<h1>Add New Child</h1>
    <%= form_for(@child) do |f| %>
	  <%= render 'shared/error_messages', :object => @child %>
		<small>Please fill all required fields with a </small><span class="required">*</span>
		<section>
	      <fieldset style="float:left;">
			<section style="float:left;">
      			<%= f.label "First Name" %>
      			<span class="required">*</span>
				<%= f.text_field :fname, placeholder: "First Name" %>
			</section>
			<section style="float:left; margin-left:5px;">
	  			<%= f.label "Last Name" %>
				<span class="required">*</span>
      			<%= f.text_field :lname, placeholder: "Last Name"%>
			</section>
	      </fieldset>
	    </section>
		
		<section>
	      <fieldset style="float:left;">
			<section style="float:left;">
      			<%= f.label "Parent 1" %>
      			<span class="required">*</span>
				<%= f.text_field :fname, placeholder: "First Name" %>
				<%= f.autocomplete_field :parent_one_id, autocomplete_user_lname_users_path, placeholder: "Start typing a last name" %>
			</section>
	      </fieldset>
	    </section>
		
	    <section>
          <%= f.submit "Save child", class: "btn btn-large btn-primary" %>
	      <%= link_to "Cancel", children_path, class: "btn btn-large btn-primary" %>
	    </section>
	<% end %>
  </div>
<div class="row"></div>

