<% provide(:title, @child.fname) %>
<div class="row">
  <aside class="span6">
	<h3>Account Details: <%= @child.full_name %></h3>
	  <aside class="span6">
      <h3>Account Details: <%= @child.full_name %></h3>
      <div class="table-responsive">
	  <table class="table table-condensed">
          <tr>
            <td width="120px"><span class="pull-right"> First Name: </span></td>
            <td><%= @child.fname %></td>
          </tr>
          <tr>
            <td><span class="pull-right">Last Name: </span></td>
            <td><%= @child.lname %></td>
          </tr>
            <tr>
            <td><span class="pull-right">Rate: </span></td>
            <td><%= @child.rate %></td>
          </tr>
      </table>
      </div>
    </aside>

	<%= form_for(@child) do |f| %>
	  <%= render 'shared/error_messages', :object => @child %>
		<section id="child_Info"><!-- BEGIN Child Info -->
	      <fieldset style="float:left;">
			<p>Parents </p>
			<section class="pull-left" style="margin-left:5px;">
					<%= f.fields_for :parents do |builder| %>
						<fieldset>
							<%= builder.label :fname, "First Name NESTED " %><br/>
							<%= builder.text_field :fname %>
							<%= builder.label :lname, "Last Name NESTED " %><br/>
							<%= builder.text_field :lname %>
						</fieldset>
					<% end %>
			</section>
			
	      </fieldset>
		</section> <!-- END Child Info -->
	<% end %>
	
	
	<section class="pull-right span3 " style="margin-left:0px;">
	  <%= link_to "Change Information", edit_child_path, class: "btn btn-large btn-primary pull-left" %>
	  <% if !current_user?(@user) %>
		<p><%= link_to "Delete", child_path(@child.id), method: :delete, data: {confirm: "Are you sure you want to delete child #{@child.full_name}?"}, class: "btn btn-large btn-primary" %></p>
	  <%end%>


	<%= link_to "Back", children_path, class: "btn btn-large btn-primary pull-left  margin-top" %>
	</section>


	
</div>



