<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Allday</th>
      <th>Start</th>
      <th>End</th>
      <th>Url</th>
      <th>Color</th>
      <th>Textcolor</th>
      <th>Child</th>
      <th>Type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.allDay %></td>
        <td><%= event.start %></td>
        <td><%= event.end %></td>
        <td><%= event.url %></td>
        <td><%= event.color %></td>
        <td><%= event.textColor %></td>
        <td><%= event.child_id %></td>
        <td><%= event.type %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
