<p id="notice"><%= notice %></p>

<h1>Events</h1>

<%= link_to "Add new event", new_event_path, class: "btn btn-primary" %>
<div class="table-responsive incomes">
	<table id="myTable" class="table table-condensed table-hover table-striped table-bordered users">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Start</th>
      <th>End</th>
	  <th>Duration</th>
      <th>Child</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @event.title %></td>
        <td><%= @event.description %></td>
        <td><%= Event.format_date(@event.start) %></td>
        <td><%= Event.format_date(@event.end) %></td>
		<td><%= seconds_to_units(@event.duration) %></td>
        <td><%= @event.child_id %></td>
        <td><%= link_to 'Show', @event, class: "btn btn-primary btn-small"  %> |
        <%= link_to 'Edit', edit_event_path(@event), class: "btn btn-primary btn-small"  %> |
        <%= link_to 'Delete', @event, class: "btn btn-danger btn-small", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>

<br>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
