<h3>Income Records</h3>
<%= link_to "Add new Income Record", new_income_path, class: "btn btn-primary" %>
<script>

</script>
<div class="table-responsive incomes">
	<table id="myTable" class="table table-condensed table-hover table-striped table-bordered tablesorter">
		<thead>		
		<tr>
			<th width="60px">Date</th>
			<th>Description</th>
			<th width="120px">Category</th>
			<th width="75px">Paid By</th>
			<th width="120px">Amount</th>
			<th width="80px"></th>
		</tr>
		</thead>
		<tbody>
		<% @incomes.each_with_index do |income, i| %>
		<tr data-link="<%= income_path(income.id) %>" >
			<td width="60px" ><%= income.date("%m/%d/%Y") %></td>
	  		<td><%= link_to income.description, income_path(income.id)  %></td>
			<td><%= income.category %></td>
			<td><%= Parent.find(income.parent_id).full_name unless income.parent_id.nil? %></td>

			<td><span class="pull-right"><%= income.amount %></span></td>
			<td width="115px">
				<span class="pull-right">
					<%= link_to "Edit", edit_income_path(income.id), class: "btn btn-primary btn-small" %>
					|
					<%= link_to "Delete", income_path(income.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-small" %>
				</span>
			</td>
		</tr>
		<%end%>
		</tbody>
		<!-- add a new row -->
		<tr>
			<td colspan="7">
				<%= link_to "New Entry", new_income_path, class: "pull-right btn btn-primary" %>	
				</a>
			</td>
		</tr>
	
	</table>
</div>
