<div class="span6">
<div class="row">
	<aside class="span6">
	    <section>
	  	<h3>Document</h3>
	  	<div class="table-responsive"><table class="table table-condensed">
			<tr>
				<td width="100px"><span class="pull-right">Title:</span></td>
				<td><%= @document.title %></td>
			</tr>
			<tr>
				<td width="100px"><span class="pull-right">Size (KB):</span></td>
				<td><%= @document.size_kb %></td>
			</tr>
			<tr>
				<td width="100px"><span class="pull-right">Content Type:</span></td>
				<td><%= @document.path.content_type %></td>
			</tr>
		</table></div>
</div>
<div class="row">
	<%= link_to "Back", documents_path , class: "btn btn-large btn-primary" %>
	<%= link_to "Download Document", @document.path.url, class: "btn btn-large btn-primary" %>
</div>
<div class="row">
<br />
<%= link_to "Delete", document_path(@document.id), method: :delete, data: {confirm: "Are you sure you want to delete #{@document.title}?"}, class: "btn btn-large btn-danger pull-right" %>
</div>
</div>
<div class="row"></div>
