<% provide(:title, 'Edit Profile') %>
<h1>Edit Profile: <%= @parent.full_name %></h1>

<div class="row">
  <div class="span8">
    <%= form_for(@parent) do |f| %>
	  <%= render 'shared/error_messages', :object => @parent %>
	  <div class="table-responsive">
	  <table class="table table-condensed">
		<tr>
			<td width="150px">Email Address: </td><!-- mail_to @parent.email, -->
			<td><%= f.text_field :email %></td>
		</tr>
		<tr >
			<td width="150px">Home Phone:</td>
			<td><%= f.text_field :phone_home %></td>
		</tr>
		<tr width="150px">
			<td width="150px">Cell Phone:</td>
			<td><%= f.text_field :phone_cell %></td>
		</tr>
		<tr width="150px">
			<td width="150px">Work Phone:</td>
			<td><%= f.text_field :phone_work %></td>
		</tr>
		<tr width="150px">
			<td width="150px">Street Address:</td>
			<td><%= f.text_field :street_addr %></td>
		</tr>
		<tr width="150px">
			<td width="150px">City:</td>
			<td><%= f.text_field :city %></td>
		</tr>
		<tr width="150px">
			<td width="150px">State:</td>
			<td><%= f.text_field :state %></td>
		</tr>
		<tr width="150px">
			<td width="150px">ZIP:</td>
			<td><%= f.text_field :zip %></td>
		</tr>
		<tr width="150px">
			<td width="150px">Verified</td>
			<td><%= f.check_box :verified %></td>
		</tr>
	  </table>
	  </div>
	  
      <p><%= f.submit "Save Changes", class: "btn btn-large btn-primary" %></p>	  
	  <%= link_to "Cancel", user_path(@parent.id), class: "btn btn-large btn-primary" %>
	  
    <% end %>
  </div>
</div>
