<h3>Users</h3>
<!--
<%= link_to "Add new parent", new_parent_path %>

-->
<div class="table-responsive incomes">
	<table id="myTable" class="table table-condensed table-hover table-striped table-bordered parents">
		<thead>		
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Number of Children</th>
			<th>City</th>
			<th>State</th>
			<th>Street</th>
			<th>Zip</th>
			<th>phone</th>
			<th width="125px"></th>
		</tr>
		</thead>
		<tbody>
	<% @parents.each_with_index do |parent, i| %>
		<tr>
			<td><%= link_to parent.fname, parent_path(parent.id)  %></td>
			<td><%= link_to parent.lname, parent_path(parent.id)  %></td>
			<td><%= parent.children.count %></td>
			<td><%= parent.city %></td>
			<td><%= parent.state %></td>
			<td><%= parent.street_addr %></td>
			<td><%= parent.zip %></td>
			<td><%= number_to_phone(parent.phone_home, area_code: true) %></td>
			<td>
				<span class="pull-right">
					<%= link_to "Edit", edit_parent_path(parent.id), class: "btn btn-primary btn-small" %>
					|
					<%= link_to "Delete", parent_path(parent.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-small" %>
				</span>
			</td>
		</tr>

	<%end%>
	</tbody>
<!--
	<tr>
			<td colspan="9">
				<%= link_to "New Entry", new_parent_path, class: "pull-right" %>	
				</a>
			</td>
		</tr>
<!-- fname lname, parent_type, city, state, zip, phone_home/contact# -->

</table>
<!--
<ul class="parents">
  <% @parents.each_with_index do |parent, i| %>
    <li>
	  <%= i+1 %>.)
	  <%= link_to parent.full_name, parent_path(parent.id)  %>
	  <%=  %>
	<%end%>
  
</ul>
-->
<p></p>
