<% provide(:title, "Edit Income") %>
<h1>Edit Income Record</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@income) do |f| %>
      <%= render 'shared/error_messages', :object => @income %>

      <%= f.label :description %>
      <%= f.text_field :description %>
	  
	  <%= f.label "Type" %>
      <%= f.text_field :income_type %>

      <%= f.label :amount %>
      <%= f.text_field :amount %>
	  
	  <%= f.label :paid %>
      <%= f.check_box :paid %>

      <%= f.label :date %>
<<<<<<< HEAD
      <%= f.text_field :date, class: "datepicker"%> <!--to month day year -->
=======
      <%= f.text_field :date, value: @income.date, class: "datepicker"%>
>>>>>>> 4b2d6df382ae52ec68aa87b3e82ea56971dc2b76
	  <p></p>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
	  <%= link_to "Cancel", income_path(@income.id), class: "btn btn-large btn-primary" %>
    <% end %>
	
  </div>
</div>
