<% provide(:title, "Edit Income") %>
<h1>Edit Income Record</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@income) do |f| %>
      <%= render 'shared/error_messages', :object => @income %>

      <%= f.label :description %>
      <%= f.text_field :description %>
	  
	  <%= f.label "Type" %>
      <%= f.text_field :income_type %>

      <%= f.label :amount %>
      <%= f.text_field :amount %>

      <%= f.label :date %>
      <%= f.text_field :date %>
	  <p></p>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
	
  </div>
</div>