<h3>Income Records</h3>
<%= link_to "Add new Invoice/Income Record", new_income_path %>
<div class="table-responsive incomes">
	<table class="table table-condensed table-hover table-striped table-bordered">
		<tr>
			<td></td>
			<th>Name</th>
			<th>Income Type</th>
			<th>Amount</th>
			<th>Date</th>
			<th>Memo</th>
			<th></th>
		</tr>
		<% @incomes.each_with_index do |income, i| %>
		<tr data-link="<%= income_path(income.id) %>" >
			<td><%= i+1 %>.)</td>
	  		<td><%= link_to income.description, income_path(income.id)  %></td>
			<td><%= income.income_type %></td>
			<td><%= income.amount %></td>

			<td><%= income.date("%d/%m/%Y") %></td>
			<td><%= income.description %></td>
			<td width="50px">
				<span class="pull-right">
					<%= link_to "Edit", edit_income_path(income.id)%>
					|
					<%= link_to "Delete", income_path(income.id), method: :delete, data: { confirm: 'Are you sure?' } %>
				</span>
			</td>
		</tr>
		<%end%>
		<!-- add a new row -->
		<tr>
			<td colspan="7">
				<%= link_to "New Entry", new_income_path, class: "pull-right" %>	
				</a>
			</td>
		</tr>
	
	</table>
</div>

<!--

-->
<!--
Description

Paid by


Type

Amount

Date


->>
<p></p>
