<% provide(:title, "New Payment") %>
<h1>New Payment Record</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@income) do |f| %>
      <%= render 'shared/error_messages', :object => @income %>

      <%= f.label :description %>
      <%= f.text_field :description %>
	  
	  <%= f.label :type %>
      <%= f.text_field :type %>

      <%= f.label :amount %>
      <%= f.text_field :amount %>

      <%= f.label :date %>
      <%= f.text_field :date %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
	
  </div>
</div>