<% provide(:title, "New Income") %>
<h1>New Income Record</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@income) do |f| %>
      <%= render 'shared/error_messages', :object => @income %>

      <%= f.label :description %>
      <%= f.text_field :description %>
	  
	  <%= f.label "Paid By" %>
	  <p><%= f.autocomplete_field :user_id, autocomplete_user_lname_users_path %></p>
	  
	  <%= f.label "Type" %>
      <%= f.text_field :income_type %>

      <%= f.label :amount %>
      <%= f.text_field :amount %>

      <%= f.label :date %>
      <%= f.text_field :date, class: "datepicker" %>
	  
	  <%= f.hidden_field :user_id, {:value => current_user.id}%>
	  
	  <p></p>
      <%= f.submit "Save record", class: "btn btn-large btn-primary" %>
	  <%= link_to "Cancel", incomes_path, class: "btn btn-large btn-primary" %>
	  
    <% end %>
	
  </div>
</div>