<meta http-equiv="Refresh" content="incomes/index.html/" />
<% provide(:title, @income.description) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>Income Record</h1>
	  <p>Created by <%= @user.full_name %> on <%= @income.date("%d/%m/%Y") %></p>
	  <p>Description: <%= @income.description %></p>
	  <p>Type: <%= @income.income_type %></p>
	  <p>Amount: <%= @income.amount %></p>
</div>
<%= link_to "Back", incomes_path %>
