<h3>Vehicles</h3>

<%= link_to "Add new Vehicle", new_vehicle_path %>
<div class="table-responsive incomes">
	<table id="myTable" class="table table-condensed table-hover table-striped table-bordered users">
		<thead>		
		<tr>
			<th>Make</th>
			<th>Model</th>
			<th>Year</th>
			<th>Licence</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<% @vehicles.each_with_index do |vehicle, i| %>
		<tr>
			<td><%= link_to vehicle.make, vehicle_path(vehicle.id)  %></td>
			<td><%= vehicle.model %></td>
			<td><%= vehicle.year %></td>
			<td><%= vehicle.license %></td>
			<td width="80px">
				<span class="pull-right">
					<%= link_to "Edit", edit_vehicle_path(vehicle.id)%>
					|
					<%= link_to "Delete", vehicle_path(vehicle.id), method: :delete, data: { confirm: 'Are you sure?' } %>
				</span>
			</td>
		</tr>

	<%end%>
	</tbody>
		<tr>
			<td colspan="7">
				<%= link_to "New Entry", new_vehicle_path, class: "pull-right" %>	
				</a>
			</td>
		</tr>
	</table>
</div>

<!--
<ul class="users">
  <% @vehicles.each_with_index do |vehicle, i| %>
    <li>
	  <%= i+1 %>.)
	  <%= link_to vehicle.full_description, vehicle_path(vehicle.id)  %>
	  <%=  %>
	<%end%>
  
</ul>
-->
<p></p>
