<% provide(:title, 'Add a vehicle') %>
  <div class="span6 offset3">
	<h1> New Vehcile </h1>
    <%= form_for(@vehicle) do |f| %>
	
	  <%= render 'shared/error_messages', :object => @vehicle %>

      <%= f.label "Make" %>
      <%= f.text_field :make, placeholder: "Make" %>
	  
	  <%= f.label "Model" %>
      <%= f.text_field :model, placeholder: "Model" %>

      <%= f.label :Year %>
      <%= f.text_field :year, placeholder: "Year" %>

      <%= f.label "License Plate Number" %>
      <%= f.text_field :license, placeholder: "License Plate Number" %>

      <%= f.label "Depreciation Rate" %>
      <%= f.text_field :depreciation_rate, placeholder: "Depreciation Rate" %>
	  
	  <%= f.hidden_field :user_id, {:value => current_user.id}%>
	  
	  <p></p>
      <%= f.submit "Save New Vehicle", class: "btn btn-large btn-primary" %>
	  <%= link_to "Cancel", vehicles_path, class: "btn btn-large btn-primary" %>
	  
    <% end %>
  </div>
<div class="row"></div>
