<% provide(:title, "New Expense") %>

<div class="center-element span6">
	<h1>New Expense Record</h1>
    <%= form_for(@expense) do |f| %>
      <%= render 'shared/error_messages', :object => @expense %>

	  <%= f.label :description %>
      <%= f.text_field :description, placehoder: "description" %>
	  
      <%= f.label :amount %>
      <%= f.text_field :amount, placeholder: "amount" %>
	  
	  <%= f.label "Percent Home Usage" %>
	  <%= f.text_field :percent_home_usage, placeholder: "Home Usage %" %>
	  
	  <%= f.label :depreciation_rate %>
      <%= f.text_field :depreciation_rate, placeholder: "Depreciation rate" %>
	  
	  <%= f.label "Type" %>
      <%= f.text_field :expense_type, placeholder: "Expense Type" %>
	  
	  <%= f.label "Vehicle" %>
	  <%= collection_select(:vehicle, :id, @user.vehicles.all, :id, :full_description, include_blank: true) %>
	  
	  <%= f.label "Mileage" %>
	  <%= f.text_field :vehicle_mileage, placeholder: "Mileage" %>
	  
      <%= f.label :date %>
      <%= f.text_field :date, class: "datepicker" %>
	  
	  <%= f.hidden_field :user_id, {:value => @user.id}%>
	  
	  <p></p>
      <%= f.submit "Save record", class: "btn btn-large btn-primary" %>
	  <%= link_to "Cancel", expenses_path, class: "btn btn-large btn-primary" %>
	  
    <% end %>
 </div>
<div class="row"></div>
