<h3>Expense Records for Fiscal Year <%= @year.year %></h3>

<button type="button" class="btn btn-default btn-lg pull-right no-print">
  <a href="javascript:window.print()"><span class="glyphicon glyphicon-print " alt="print"></span></a>
</button>
<div class="table-responsive incomes">
	<table id="myTable" class="table table-condensed table-hover table-striped table-bordered users table-print">
		<thead>
		<tr>
			<th width="115px">Date</th>
			<th>Expense</th>
			<th>Memo</th>
			<th>Amount</th>
		</tr>
		</thead>
		<tbody>
		<% @expenses.each_with_index do |expense, i| %>
			<% @expenses_total += expense.amount_raw %>
		<tr>
			<td><%= expense.date  %></td>
			<td><%= expense.expense_type %></td>
			<td><%= expense.description %></td>		
			<td><span class="pull-right"><%= expense.amount %></span></td>
		</tr>

		</tbody>
		<%end%>
		<tr>
			<td colspan="4">
				Total Expenditures for Year <%= @year.year %>:
<span class="pull-right"><strong>
 <%= ActionController::Base.helpers.number_to_currency(@expenses_total) %>
</strong>
</span>
			</td>
		</tr>
	</table>
	<%= link_to "Back", expenses_path, class: "btn btn-primary no-print" %>
</div>

