<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <!--<%= link_to "Storyland Childcare", '#', id: "logo" %>-->
		<% if signed_in? %>
			<%= link_to "StoryLand Childcare", signin_path, id: "logo" %>
		<% else %>
			<%= link_to "StoryLand Childcare", root_path, id:"logo"%>
		<% end %>
      
      <nav>
        <ul class="nav pull-right float_right">
        <!--  <li><%= link_to "Home", root_path %></li> -->
	
	  <!-- Display if the user is signed in -->
          <% if signed_in? %>
            <li><%= link_to "Users", users_path %></li>
			<li><%= link_to "Documents", documents_path %></li>
			<li><%= link_to "Income Records", incomes_path %></li>
			<li><%= link_to "Expenses", expenses_path %></li>
			<li><%= link_to "Vehicles", vehicles_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", '#' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
	  <!-- If not don't show what is above and instead show this -->
          <% else %>
            <!--HTML Tag, Ruby code, "Name", where it is-->
		<!-- login code starts here -->
	    <li id="login"><%= form_for(:session, url: sessions_path) do |f| %>
<!--<%= f.label :email %>  <%= f.label :password %>-->
		<%= f.text_field :email,placeholder: "email" %>

   		<%= f.password_field :password, placeholder: "password" %>
		<%= f.submit "Sign in", class: "btn btn-medium btn-primary", id: "sign-in" %>
		<div id="newUser">New user? <%= link_to "Sign up now!", signup_path %><div>
    	<% end %></li><!-- End of login code -->

<!--
<span class="float_right" id="newUser">New user? <%= link_to "Sign up", signup_path %></span>
-->
          <% end %> <!--ends if the if/else statement-->
        </ul>

      </nav>
    </div>
  </div>
</header>
