<h3>Users</h3>

<table class="table table-hover users">
	<% @users.each_with_index do |user, i| %>
		<tr>
			<td width="20px"><%= i+1 %>.)</td>
			<td><%= link_to user.full_name, user_path(user.id)  %></td>
		</tr>
	<%end%>

</table>
<!--
<ul class="users">
  <% @users.each_with_index do |user, i| %>
    <li>
	  <%= i+1 %>.)
	  <%= link_to user.full_name, user_path(user.id)  %>
	  <%=  %>
	<%end%>
  
</ul>
-->
<p></p>
