<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'partials/shim' %>
  <script type="text/javascript" src="/assets/jquery-latest.js"></script> 
  <script type="text/javascript" src="/assets/jquery.tablesorter.js"></script> 
</head>
<body>
    <div class="container">
	  <%= render 'partials/header_child_signin' %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
